<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="wck/includes/head :: head_tag(title='개인정보 변경 비밀번호 체크 | 더한섬닷컴')"></th:block>

  <body>
    <!-- ################## hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
    <div class="hsome_allContents_wrapper">
      <div class="hsome_allContents">
        <script type="text/javascript">
          function goMainpage() {
            window.sessionStorage.removeItem('moveYn');
            location.href = '/ko/main';
          }
        </script>

        <!-- ################## header ################## -->
        <header class="hsome_header">
          <h1 class="h_ttl ellipsis" id="headerTitle">비밀번호 재확인</h1>
          <a href="javascript:noLink();" onclick="goBack();" class="h_prev"
            >이전 페이지로 가기</a
          >
          <ul class="h_gnbMenu">
            <li class="search">
              <a
                href="/ko/mobilecommon/search"
                onclick="GA_Event('공통', '헤더', '검색');"
                ><span>search</span></a
              >
            </li>
            <li class="cart">
              <a
                href="/ko/shoppingbag"
                onclick="GA_Event('공통', '헤더', '쇼핑백');"
                ><span>cart</span><i>0</i></a
              >
            </li>
          </ul>
        </header>
        <!-- //################## header ################## -->
        <script type="text/javascript">
          //<![CDATA[
          $(document).ready(function () {
            //아이디 마스킹
            $('.user_id').html(maskingId($('.user_id').html()));

            capsLockCheck('j_password');

            $('#login_btn').click(function () {
              $('#msgErr2').remove();
              if ($.trim($('#j_password').val()) == '') {
            	
                $('#msgErr').show();
                $('#msgErr').text('비밀번호를 입력하세요.');
                $('#j_password').focus();
                return;
              }
              
              $('#pwForm').submit();
            });
            

            $('#cancle_btn').click(function () {
              location.href = '/wck/mypage';
            });
          });
          //]]>
        </script>
        <!-- contents s -->
        <div id="contents" class="hsome_contents mp_confirm_pw_wrap">
          <div class="gray_tab">
            고객님의 정보보호를 위하여 비밀번호를 다시 한 번 확인합니다.
          </div>
          <div class="mp_input_wrap">
            <div class="user_id_wrap">
              <span class="user_id" th:text="${account.email}">asd***************</span>
            </div>
            <!-- input_box s -->
            <div class="input_box">
              <div class="ipt_con">
              <form id="pwForm" method="post" action="/wck/mypage/change/checkpw">
                <input 
				  type="hidden" 
				  th:name="${_csrf.parameterName}" 
				  th:value="${_csrf.token}" />
                <input
                  type="password"
                  id="j_password"
                  name="password"
                  title="비밀번호를 입력하세요."
                  placeholder="비밀번호를 입력하세요." />
              </form>
                <p class="err_box" id="msgErr">
                </p>
                <p class="err_box" id="msgErr2" th:if="${error != null}" th:text="${error}" style="display:block;">
                </p>
                	
                
              </div>
            </div>
            <!-- input_box e -->
            <div class="btn_wrap btn_wrap_div2 last_box">
              <a href="#none" class="btnstl3 border_btn_gray" id="cancle_btn"
                ><span>취소</span></a
              >
              <a
                href="#none"
                class="btnstl3 solid_btn_blk btn_save"
                id="login_btn"
                ><span>확인</span></a
              >
            </div>
          </div>
        </div>
        <!-- contents e -->
      </div>
    </div>
    <!-- ################## //hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
  </body>
  <!-- This script is for AceCounter START -->
</html>
