<html lang="ko" class="back" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="wck/includes/head :: head_tag(title='위시리스트 | 더한섬닷컴')"></th:block>
<script type="text/javascript" th:src="@{/js/layers.js}"></script>
   <style>
      .swiper-wrapper {
        height: auto;
      }
   </style>
  <body class="back">

    <!-- Loading -->
    <div style="display: none">
      <div id="loadingBarDiv" style="display: none"></div>
    </div>
    <!-- //Loading -->

    <div class="layerArea" id="mapleLayer" style="display: none">
      <div class="layerBg"></div>
    </div>

    <!-- ################## hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
    <div class="hsome_allContents_wrapper">
      <div class="hsome_allContents fixed_btn_on">
      
		<header  
        th:replace = "wck/includes/header_select2 :: header_select_tag('마이하트',3)"
        class="hsome_header header_noline header_mypage"></header>

        <!-- contents s -->

        <div id="contents" class="hsome_contents mp_wishlist_wrap">
          <ul class="ui_tab red_border_tab fw active">
            <li class="on">
              <a
                id="tab_wish1"
                href="#tab_01"
                >위시리스트</a>
            </li>

           </ul>
          <div class="tab_cont">
            <!-- #tab_01 s -->
            <div id="tab_01" class="cont on">
              <!-- 추가(47745) : 20180813 s -->
              <div class="gray_box wish_desc_box">
                <ul class="ul_dot">
                  <li>위시리스트에는 상품이 최대 200개까지 저장됩니다.</li>
                  <li>
                    마이하트에 담은 상품 중 판매종료가 된 상품은 자동삭제됩니다.
                  </li>
                </ul>
              </div>

              <!-- 추가(47745) : 20180813 e -->
              <div class="hs_product_list_wrap">
                <div class="sort_chk">
                  <a href="javascript:void(0);" class="del">선택상품삭제</a>
                </div>

                <div class="hs_product_list" id="prodWishlists">
                  <ul></ul>
                </div>

                <div id="pagination1" class="hs_paging bottom">
                </div>

                <div class="btn_wrap btn_wrap_div1 btm_fixed_wrap on">
                  <!-- <div class="wish_to_order"><a href="lp_wish_to_order.html" class="btnstl6 solid_btn_point btn_layerpopup_call" data-layerpop-style="lp_stl_black" data-layerpop-depth="depth1"><span>선택상품 (5개) 주문</span></a></div> -->
                  <div class="wish_to_order">
                    <a
                      href="javascript:void(0);"
                      onclick="goWishToOrderPopup(this); return false;"
                      class="btnstl6 solid_btn_point"
                      data-layerpop-style="lp_stl_black"
                      data-layerpop-depth="depth1"
                      ><span id="orderBtn">쇼핑백담기</span></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- #tab_02 s -->
            <div id="tab_02" class="cont">
              <div class="wish_cont_wrap">
                <p>지난 기획전의 경우 1주일 후에 자동 삭제됩니다.</p>
                <ul id="wishContents"></ul>

                <div id="pagination2" class="hs_paging bottom"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- contents e -->

        <script>
          var $product_list = $('.hs_product_list_wrap .hs_product_list ul li');
          function product_list_effect() {
            $product_list.each(function () {
              //리스트 스크롤 효과
              if (
                $(window).scrollTop() + $(window).height() >
                $(this).offset().top
              ) {
                $(this).addClass('active');
              } else {
                $(this).removeClass('active');
              }
            });
          }

          $(function () {
            //	$('.h_select > .selected_text span').html('위시리스트'); //페이지 제목 입력
            //currentQuickMenuOn('mypage'); //quick_menu 활성화

            $('.hsome_quickMenu').css('display', 'none'); //gn삭제()

            //180813 마이하트 리스트 슬라이드 시작
            var myheartSwiperClass =
              '.mp_wishlist_wrap .hs_product_list .img_slide_wrap.active.swiper-container';
            if ($(myheartSwiperClass).length > 0) {
              new Swiper(myheartSwiperClass, { loop: true });
            }
            //180813 마이하트 리스트 슬라이드 끝
            //

            $('body').on(
              'click',
              '.mp_wishlist_wrap .chk_mark input',
              function () {
                if ($(this).is(':checked')) {
                  $(this).parents('li').find('.func_as').addClass('active');
                } else {
                  $(this).parents('li').find('.func_as').removeClass('active');
                }

                // 쇼핑백 담기 기능 변경으로 사용 안함 : 20180828
                // 재적용 : 20180831
                var chkedcnt = 0;
                $('.mp_wishlist_wrap .chk_mark input').each(function () {
                  if ($(this).is(':checked')) chkedcnt += 1;
                });
                var txtHtml = '';
                if (chkedcnt === 0) {
                  txtHtml += '쇼핑백담기';
                } else {
                  txtHtml += '쇼핑백담기(' + chkedcnt + ')';
                }
                $('#orderBtn').html(txtHtml);
              }
            );

            $('body').on(
              'click',
              '.mp_wishlist_wrap .hs_product_list_wrap .info_cont .color_chip .chip',
              function () {
                $chipId = $(this).attr('id');
                $activeSlide = $(this)
                  .parents('li')
                  .find('.img_slide_contain')
                  .children('.' + $chipId + '');

                if ($activeSlide.hasClass('active') == false) {
                  $(this)
                    .parents('li')
                    .find('.img_slide_contain .img_slide_wrap')
                    .removeClass('active');
                  $activeSlide.addClass('active');
                  new Swiper($activeSlide, {
                    loop: true,
                  });
                }
              }
            );

            product_list_effect();
          });

          $(window).scroll(function () {
            product_list_effect();
          });



          var wishtoorderproc = false;
          function goWishToOrderPopup($this) {
            if (wishtoorderproc) return;

            wishtoorderproc = true;

            var chkedcnt = 0;
            var wishcodes = '';
            $('.mp_wishlist_wrap .chk_mark input').each(function () {
              if ($(this).is(':checked')) {
                chkedcnt += 1;
                wishcodes += ',' + $(this).attr('data-value');
              }
            });
            if (wishcodes !== '') {
              wishcodes = wishcodes.substring(1);
            }
            

            if (chkedcnt === 0) {
              wishtoorderproc = false;

              var la = new layerAlert('상품을 선택해 주세요');
              return false;
            } else {
              wishtoorderproc = false;
              
              // TODO : 여기서 데이터 그려야 됨
              $('.wish_order_box_wrap').html('');
              getProductDetail(wishcodes);

              $('.hsome_layerpop_contents.lp_depth1').addClass(
                'dir_h lp_stl_black visible active'
              );
              $('.layerpop_wrap.lp_wish_to_order_wrap').removeClass(
                'visible active activated'
              );
            }
          }
          
          function getProductDetail(wishcodes){
        	  $(wishcodes.split(',')).each(function(idx ,code){
        		  $.ajax({
        			  url : '/api/product/'+ code,
        			  method : 'get',
        			  dataType: 'json',
        			  success: function(data){
        				  console.log(data);
        				  printWishToCart(idx,data)
        			  },
        			  error : function(e){
        				  console.log(e);
        			  }
        		  })
        		  
        	  });
          }
          function printWishToCart(idx, data){
			let colorStr = '';
        	  $(data.colors).each(function(idx, color){
        		  //chip마다 stock 정보와 size 정보를 저장함
        		  let infos = '';
        		  $(color.stocks).each(function(idx,s){
        			  // size-stock 모양
        			  infos+= s.psize+"-"+s.psStock;
        			  if(idx != color.stocks.length -1) infos+=',';
        		  })
        		  
        		let isOn = '';
        		if(idx == 0) isOn = 'on';
        		let chipTemplate = `
					<button type="button" id="${color.pcId}" data-prodimg="${color.pcImg1}"
						class="chip ${isOn}" data-value="${infos}"
						style="background:#000000 url('${color.pcChipImg}') center /100% auto no-repeat;">
					</button>
        	  `
        	  colorStr += chipTemplate;
        	  })
        	  
        	  // 첫번째 color size 셋팅
        	  // #7 -> 최대 수량을 의미함
        	  let initSize = '';
        	  $(data.colors[0].stocks).each(function(idx, s){
        		  initSize += `<option value="${s.psize}#7#false">${s.psize}</option>`
        	  })
        	  
        	  let template = `
        		  <div class="wish_order_box wish_order_${idx}" id="wish_order_${idx}" style="display:block;">
					<div class="wish_order_thumb"><img src="${data.colors[0].pcImg1}" alt=""></div>
					<div class="wish_order_info">
						<p class="brand">${data.bname}</p>
						<p class="name">${data.pname}</p>
						<p class="price">￦${data.colors[0].pcPrice}</p>
						<!-- 색상 버튼 -->
						<div class="color_wrap">
							<div class="hs_btn_color_chip">
								${colorStr}
							</div>
						<div class="txt_color_chip">${data.colors[0].pcId}</div><!-- 선택한 색상 정보 -->
						<!--// 색상 버튼 -->
						</div>	
						
						
						<ul class="btn_wrap btn_wrap_div2">
							<!-- 사이즈 버튼 -->
							<li class="btnstl btnstl_size border_btn_gray hs_border_select">
								<select name="sel_size_${idx}" id="sel_size_${idx}" class="sel_size_${idx}">
									<option value="">사이즈</option>
									${initSize}
								</select>
							</li>
							<!--// 사이즈 버튼 -->
	
							<!-- 수량 버튼 -->
							<li class="btnstl btnstl_stock border_btn_gray hs_border_select">
								<select name="sel_qty_${idx}" id="sel_qty_${idx}" class="sel_qty">
									<option value="0">수량</option>
									<option value="1" selected="selected">1</option>
									<option value="2">2</option>
								</select>
							</li>
							<!--// 수량 버튼 -->
						</ul>
					</div>
				</div>
        	  `
        	  $('.wish_order_box_wrap').append(template);
        	  
        	  // wishToCart 의 chip선택 시
        	  $('.hs_btn_color_chip .chip').click(function(){
        		  $(this).siblings().removeClass('on');
        		  $(this).addClass('on');
        		  $(this).closest('.wish_order_box').find('img').attr('src', $(this).data('prodimg'));
        		  
        		  let select = $(this).closest('.wish_order_box').find('.btnstl_size select');
        		  let str = '<option value="">사이즈</option>';
        		  let val = $(this).data('value');
        		  $(val.split(',')).each(function(idx, v){
        			  
        			  str += `<option value="${v.split('-')[0]}">${v.split('-')[0]}</option>`
        		  })
        		  select.html(str);
        	  })
        	  
          }
          
          
          
   
          
          
        </script>

        <!-- ################## footer ################## -->
        <!-- 푸터 공지 추가 220404 -->
        <footer th:replace="wck/includes/footer :: fragment-footer"></footer>
        <!-- // 푸터 공지 추가 220404 -->
        <!-- //################## footer ################## -->
      </div>
    </div>
    <!-- ################## //hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
    <a
      href="noLink();"
      class="hsome_topBtn upper"
      id="handsomeTopBtn"
      style="bottom: 60px"
      >mobile.bottom.top</a
    ><!-- 20180530 추가 -->

    <!-- ################## hsome_quickMenu | 퀵메뉴 ################## -->
    <aside
      class="hsome_quickMenu hsome_quickMenu1909 active"
      style="display: none">
      <ul>
        <li class="shop">
          <a
            href="/ko/mobilecommon/navShop"
            onclick="GA_Event('공통', '네비게이션_바', '샵');"
            ><i>메뉴</i></a
          >
        </li>
        <li class="sns">
          <a
            href="/ko/sns/main"
            onclick="GA_Event('공통', '네비게이션_바', '타임라인');"
            ><i>스타일 LIVE</i></a
          >
        </li>
        <li class="home">
          <a
            href="javascript:noLink();"
            onclick="goMainpage();GA_Event('공통', '네비게이션_바', '홈');"
            ><i>홈</i></a
          >
        </li>
        <li class="myheart active" id="gnbMyheartBtn">
          <a
            href="/ko/mypage/myWish"
            onclick="GA_Event('공통', '네비게이션_바', '마이하트');"
            ><i>마이하트</i></a
          >
        </li>
        <li class="mypage" id="gnbMyPageBtn">
          <a
            href="javascript:noLink();"
            onclick="goMypage();GA_Event('공통', '네비게이션_바', '마이페이지');"
            ><i>마이페이지</i></a
          >
        </li>
        <li class="mypage pageMove" style="display: none">
          <a href="" id="gnbMypageBtn"></a>
        </li>
        <li class="mypage" style="display: none">
          <a href="/ko/mobilecommon/myPagePopup" id="gnbMypagePopupBtn"></a>
        </li>
      </ul>
    </aside>
    <!-- ################## //hsome_quickMenu | 퀵메뉴 ################## -->

    <div class="fixed_dim_layer" onclick="familySiteSelectClosed();"></div>
    <div class="family_site_popup_191108">
      <ul>
        <li>
          <a
            href="http://m.hfashionmall.com/sfmmbl/mbl/main.do"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_H패션몰');"
            >H패션몰<!-- H패션몰 --></a
          >
        </li>
        <li>
          <a
            href="https://m.hyundaihmall.com/front/index.do"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_현대홈쇼핑');"
            >현대홈쇼핑<!-- (주)현대홈쇼핑 --></a
          >
        </li>
        <li>
          <a
            href="https://m.thehyundai.com/Home.html"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_더현대닷컴');"
            >더현대닷컴<!-- 더현대닷컴 --></a
          >
        </li>
        <li>
          <a
            href="http://mall.hyundailivart.co.kr/front/index_org.lv"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_현대리바트');"
            >현대리바트<!-- (주)현대 리바트 --></a
          >
        </li>
        <li>
          <a
            href="https://www.h-point.co.kr/cu/main/index.nhd"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_H.Point');"
            >H.Point</a
          >
        </li>
        <li>
          <a
            href="http://www.ehyundai.com/newPortal/ir/main.do"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_현대백화점그룹');"
            >현대백화점그룹<!-- 현대백화점 그룹 --></a
          >
        </li>
      </ul>
      <a
        href="#;"
        class="family_site_popup_close"
        onclick="familySiteSelectClosed();"
        >닫기<!-- 닫기 --></a
      >
    </div>
    <!-- ################## hsome_quickMenu_contents | 퀵메뉴 컨텐츠 영역 ################## -->
    <div class="hsome_quickMenu_contents"></div>
    <!-- //################## hsome_quickMenu_contents | 퀵메뉴 컨텐츠 영역 ################## -->

    <div
      class="divpop_wrap_dev pop_mbr pop_alert_confirm"
      id="popAlertConfirmDiv"></div>

    <!-- layerpopupContent s -->
    <!-- hsome_layer_menu_contents | 레이어팝업메뉴 컨텐츠 영역 s -->
    <!-- depth1 s -->
    <div class="hsome_layerpop_contents lp_depth1 dir_h lp_stl_black">
    
    <script type="text/javascript">
		var wishlength= "8";
		var price = 0;
		var delidx= "";
		var cartQuantity = {};
		
		$(document).ready(function() {
			
		    
		
			$(document).on("click", ".lyrpp_top .lyrpp_close.btn_lyrpp_close", function() {
				$('.hsome_layerpop_contents.lp_depth1').removeClass('visible active')
			});
			
		
		
			$(document).on("change", "[id^=sel_size_]", function(){
		        var stock = $(this).val();
		        var idx = $(this).attr("id").split("_")[2];
		        var isQtyLimitProduct = $('#wish_order_'+idx).find('[name=qtyLimitProductYn]').val();
		        if(stock != ""){
		            var temp = stock.split("#");
		            $("#sel_qty_"+idx+" option").remove();
		            for(var i=0;i<temp[1];i++){
		            	
		            	if(isQtyLimitProduct == 'true' && i > 1) break;
		            	
		                $("#sel_qty_"+idx).append("<option value='"+(i+1)+"'>"+(i+1)+"</option>");              
		            }
		        }
		    });
			
			$('.color_wrap button.chip').click();
		});
		
		//화면 add 중복오류로 function으로 수정
		function addToCartWishlist(){
		   var deledIdxs = delidx.substring(1).split(",");
		   
		   var selcnt   = 0;
		   var errorcnt = 0;
		   
		   var productCode = "";
		   var size = "";
		   var qty  = "";
		   var promotionYn  = "";
		   
		   var wish_order, idx;
		   
		   $(".wish_order_box_wrap .wish_order_box").each(function() {
		       selcnt++;
		       
		       wish_order = $(this).attr("id");
		       idx = wish_order.replace("wish_order_", "");
		       tempCode = $("#"+wish_order+" .color_wrap button.chip.on").attr("id");
		       tempSize = $("#sel_size_"+idx+" option:selected").val();
		       tempQty  = $("#sel_qty_"+idx+" option:selected").val();
		       tempPromotion  = $("#promotionProduct"+idx+"").val();
		       
		       if ( tempCode === "" ) {
		           errorcnt++;
		           var la = new layerAlert("색상을 선택해 주세요."); //색상
		           return false;
		       } else {
		           productCode += ","+tempCode;
		       }
		       if ( tempSize === "" ) {
		           errorcnt++;
		           var la = new layerAlert("사이즈를 선택해 주세요."); //수량
		           return false;
		       } else {
		           size += ","+tempSize;
		       }
		       if ( tempQty === "0" ) {
		           errorcnt++;
		           var la = new layerAlert("수량은 0보다 커야 합니다."); // There aren`t properties.
		           return false;
		       } else {
		           qty += ","+tempQty;
		       }
		       
		       
		       
		   });
		   
		   if ( errorcnt === 0 ) {
		       setValues(productCode.substring(1), size.substring(1), qty.substring(1), promotionYn.substring(1));
		   }
		}
		
		function setValues(productCode, size, qty, promotionProduct) {
			var execnt = 0;
			var exetime= 0;
		
			var productCodes = productCode.split(",");
			var sizes = size.split(",");
			var qtys  = qty.split(",");
			var promotionProducts  = promotionProduct.split(",");
			var chkPromoProducts = 0; //프로모션 상품이 존재하는가
			for ( var i=0; i < promotionProducts.length; i++ ) {
			    if(promotionProducts[i] == "true"){
				    chkPromoProducts++;
			    }
			}
			
			for ( var i=0; i < productCodes.length; i++ ) {
				$("form#addToCartForm input[name='productCodePost']").val('');
				$("form#addToCartForm input[name='stockCnt']").val('');
				$("form#addToCartForm input[name='qty']").val('1');
				$("form#addToCartForm input[name='onlyStorePickup']").val('');
				$("form#addToCartForm input[name='CSRFToken']").val("");
				execnt++;
		
				var details = sizes[i].split("#");
				var prodCode = productCodes[i] + "_" + details[0];
				if ( details[2] == "true" && "true") {
					var la = new layerAlert("매장수령 전용 상품입니다. <br />리스트의 제품 사진을 클릭하여, 상품 상세화면으로 이동해주세요. 수령을 원하는 매장을 상품상세페이지에서 지정 후, 구매 가능합니다.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
					break;
				}
				if ( details[1] < 1 ) {
					var la = new layerAlert("해당사이즈는 품절입니다.");
					break;
				}
				if ( details[1] < qtys[i] ) {
					var la = new layerAlert("해당 상품의 재고 수량이 충분하지 않습니다. ");
					break;
				}
		
		        var chkPromtion = false;
				if(promotionProducts[i] == true || promotionProducts[i] == "true"){
				    
			        $.ajax({
			            url: '/ko/mypage/checkCartProduct',
			            type: "GET",            
			            data: {productCode: prodCode},
			            async : false,
			            success: function(data){
			                if(data == true) { //기존 cart에 존재하면
			                    chkPromtion = true;
			                    if(chkPromoProducts == productCodes.length){
				                    var la = new layerAlert('동일 옵션(컬러/사이즈)으로 최대 1개 구매 가능합니다.'); //"이미 프로모션 상품이 담겨있습니다."
				                    return;
			                    }
			                }
			            },
			            error: function(xhr, Status, error) {
			                //
			            }
			       });
				        
				}
		
				if(!chkPromtion) {
				    if ( execnt === 1 && execnt < productCodes.length ) {
				        if((productCodes.length-1) - chkPromoProducts == 0){
		                    addToCart(execnt, prodCode, details[1], qtys[i], details[2], "Y");                    
		                }else{
				            addToCart(execnt, prodCode, details[1], qtys[i], details[2]);
		                }
			        } else if ( execnt === 1 && execnt === productCodes.length ) {
			            addToCart(execnt, prodCode, details[1], qtys[i], details[2], "Y");
			        } else {
			            if ( execnt < productCodes.length ) {
			                //setTimeout(function(){
			                if((productCodes.length-1) - chkPromoProducts == 0){
			                    addToCart(execnt, prodCode, details[1], qtys[i], details[2], "Y");                    
			                }else{
			                    addToCart(execnt, prodCode, details[1], qtys[i], details[2], "N");    
			                }
			                //}, exetime);
			            } else {
			                //setTimeout(function(){
			                    addToCart(execnt, prodCode, details[1], qtys[i], details[2], "Y");
			                //}, exetime);
			            }
			        }
			        //exetime += 5000;
				}
			}
		}
		async function addToCart(cnt, productCode, stockCnt, qty, onlyStockPiciup, lastYn) {
		
			console.log("productCode : "+ productCode);
			console.log("stockCnt : "+ stockCnt);
			console.log("qty : "+ qty);

			$("form#addToCartForm input[name='productCodePost']").val(productCode);
			$("form#addToCartForm input[name='stockCnt']").val(stockCnt);
			$("form#addToCartForm input[name='qty']").val(qty);
			$("form#addToCartForm input[name='onlyStorePickup']").val(onlyStockPiciup);
			$("form#addToCartForm input[name='CSRFToken']").val("1c70f754-643f-405f-b686-164b4fb656cd");
		
		//setTimeout(function() {
			$.ajax({
				url		: "/api/cart/add",
				type	: "POST",
				async	: false,
				data : JSON.stringify({
					qty : qty,
					psId : productCode
				}),
				 contentType: 'application/json; charset=utf-8',
				//data	: $("form#addToCartForm").serialize(),
				success	: function(data) {
					console.log(data);
					var errorMsg = data;
					if (errorMsg === null || errorMsg === "") {
						if ( lastYn === "Y" ) {
							var lc = new layerConfirm("쇼핑백에 담겼습니다.<br />확인하시겠습니까?", "쇼핑백 바로가기", "취소");
							lc.cancleAction  = function(){
								$(".lyrpp_top .lyrpp_close.btn_lyrpp_close").trigger("click");
								//myWishListProd(1);
								window.location.reload();
							}						
							lc.confirmAction = function(){
								window.location.href="/wck/shoppingbag";
							};
						}
					} else {
						$(".lyrpp_top .lyrpp_close.btn_lyrpp_close").trigger("click");
						myWishListProd(1);
						
						var la = new layerAlert(errorMsg);
						return false;					
					}
				}
			});
			//}, 1000); 
		
		}
		function numberWithCommas(x) {
			// 세자리마다 콤마(,) 추가
		    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}
		
		
	
		
		
		
		</script>

		
		<!-- layerpop_wrap | 위시리스트 주문하기 s -->
		<div class="layerpop_wrap lp_wish_to_order_wrap visible active activated">
			
			<!-- layerpop_top s -->
			<div class="lyrpp_top">
				<a href="#none" class="lyrpp_close lyrpp_close_stl3  btn_lyrpp_close"><span>닫기</span></a>
			</div>
			<!-- layerpop_top e -->
		
			<!-- layerpop_middle s -->
			<div class="lyrpp_mid" style="height: 590px;">
				<div class="wish_order_box_wrap">
				
				<!-- 위시리스트 개별상품 s -->
					<div class="wish_order_box wish_order_0" id="wish_order_0" style="display:block;">
					    <input type="hidden" id="promotionProduct0" name="promotionProduct" value="false">
					    <input type="hidden" id="qtyLimitProductYn0" name="qtyLimitProductYn" value="true">
						<div class="wish_order_thumb"><img src="http://newmedia.thehandsome.com/MN/2D/SS/MN2D1WJC221W_BK_S01.jpg" alt=""></div>
						<div class="wish_order_info">
							<p class="brand">MINE</p>
							<p class="name">울 블렌드 싱글 재킷</p>
							<p class="price">￦1,050,000</p>
							
							<!-- 색상 버튼 -->
							<div class="color_wrap">
								<div class="hs_btn_color_chip">
								<button type="button" id="MN2D1WJC221W_BK" class="chip on" data-value="0#BLACK" style="background:#000000 url('http://newmedia.thehandsome.com/MN/2D/SS/MN2D1WJC221W_BK_C01.jpg/dims/resize/60x60') center /100% auto no-repeat;"></button>
												</div>
								<div class="txt_color_chip">BLACK</div><!-- 선택한 색상 정보 -->
							</div>
							<!--// 색상 버튼 -->
							
							<ul class="btn_wrap btn_wrap_div2">
								<!-- 사이즈 버튼 -->
								<li class="btnstl border_btn_gray hs_border_select">
									<select name="sel_size_0" id="sel_size_0" class="sel_size_0"><option value="">사이즈</option><option value="76#7#false">76</option><option value="82#9#false">82</option><option value="88#4#false">88</option></select>
								</li>
								<!--// 사이즈 버튼 -->
		
								<!-- 수량 버튼 -->
								<li class="btnstl border_btn_gray hs_border_select">
									<select name="sel_qty_0" id="sel_qty_0" class="sel_qty">
										<option value="0">수량</option>
										<option value="1" selected="selected">1</option>
										<option value="2">2</option>
										</select>
								</li>
								<!--// 수량 버튼 -->
							</ul>
						</div>
					</div>
					<!-- 위시리스트 개별상품 e -->
				</div>
			</div>
			<!-- layerpop_middle e -->
		
			<!-- layerpop_bottom s -->
			<div class="lyrpp_btm">
				<!-- 주문/결제로 이동 -->        
				<div class="btm_fixed_wrap btn_wrap btn_wrap_div1 on">
					<div class="wish_to_order">
						<a href="#none" class="btnstl6 solid_btn_blk" onclick="javascript:addToCartWishlist()"><span><b>선택완료</b></span></a>
					</div>
				</div>  
			</div>
			<!-- layerpop_bottom e -->
		</div>
		<!-- layerpop_wrap | 위시리스트 주문하기 e -->
		
		<div id="submitForm">
		</div>

</div>
    <!-- depth1 e -->
    <!-- depth2 s -->
    <div class="hsome_layerpop_contents lp_depth2"></div>
    <!-- depth2 e -->
    <!-- depth3 s -->
    <div class="hsome_layerpop_contents lp_depth3"></div>
    <!-- depth3 e -->
    <!-- depth4 s -->
    <div class="hsome_layerpop_contents lp_depth4"></div>
    <!-- depth4 e -->
    <!-- depth5 s -->
    <div class="hsome_layerpop_contents lp_depth5"></div>
    <!-- depth5 e -->
    <!-- depth6 s -->
    <div class="hsome_layerpop_contents lp_depth6"></div>
    <!-- depth6 e -->
    <!-- depth7 s -->
    <div class="hsome_layerpop_contents lp_depth7"></div>
    <!-- depth7 e -->
    <!-- depth8 s -->
    <div class="hsome_layerpop_contents lp_depth8"></div>
    <!-- depth8 e -->
    <script>
      $(document).ready(function () {
    	  let token = $("meta[name='_csrf']").attr("content");
          let header = $("meta[name='_csrf_header']").attr("content");
          
          
    	let pageNum = 1;
    	let count = 0;
    	//TODO : count 가져오기
        getWishList(1);
        function getWishList(currentPage) {
        	pageNum = currentPage;
        	
          $.ajax({
            url: '/api/member/like?currentPage=' + currentPage,
            method: 'get',
            dataType: 'json',
            success: function (data) {
              console.log(data);
              printWishList(data['list']);
              count = data['count'];
              showPaging(count);
            },
          });
        }

        function printWishList(list) {
          $('.hs_product_list ul').html('');
          $(list).each(function (idx, data) {
            let tmp = '';
            $(data.colors).each(function (idx, chip) {
              let isFirst = '';
              if (idx == 0) isFirst = 'on';

              let chipTemplate = `
                            <button
                            class="chip ${isFirst}"
                            data-value="${chip.pcId}"
                            data-prodImg="${chip.pcImg1}"
                            id="slide0101"
                            style="
                              background: #23416e
                                url('${chip.pcChipImg}')
                                center / 100% auto no-repeat;
                            "></button>
                        `;
              tmp += chipTemplate;
              //TODO : 페이징 번호 생성
            });

            let template = `
                        <li id="${data.pid}" class="float active">
                        <div class="img_slide_container">
                          <a
                            href="/wck/products/p?pid=${data.pid}&pcid=${data.colors[0].pcId}"
                            class="img_slide_contain">
                            <div
                              class="img_slide_wrap swiper-container slide0101 active">
                              <div class="img_slide swiper-wrapper">
                                <div class="img swiper-slide">
                                  <img
                                    src="${data.colors[0].pcImg1}"
                                    alt="" />
                                </div>
                              </div>
                            </div>
                          </a>
                          <span class="func_as">
                            <a class="del"
                              >삭제</a
                            >
                          </span>
                        </div>
                        <div class="info_cont">
                          <div class="color_chip">
                           	${tmp}
                          </div>
                          <a href="javascript:void(0);">
                            <p class="brand">${data.bname}</p>
                            <p class="name">${data.pname}</p>
                            <p class="price">￦${data.colors[0].pcPrice}</p>
                          </a>
                        </div>
                        <label class="chk_mark">
                          <input
                            type="checkbox"
                            name="chkbox"
                            data-value="${data.pid}" />
                          <span class="mark"></span>
                        </label>
                      </li>
    				
    				`;
            $('.hs_product_list ul').append(template);
          });
          $('.chip').click(function (e) {
            if ($(this).hasClass('on')) return;

            let pcValue = $(this).data('value');
            $(this).siblings().removeClass('on');
            $(this).addClass('on');
            let pValue = pcValue.split('_')[0];
            
            $('li#' + pValue + ' .swiper-slide img').attr(
                    'src',
                    $(this).data('prodimg')
                  );
          });

          $('.func_as .del').click(function (e) {
            let pVal = $(this).closest('li').attr('id');
            console.log(pVal);
            $.ajax({
            	beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
              },
              url: '/api/member/like/' + pVal,
              method: 'post',
              success: function (data) {
                console.log(data);
                getWishList(1);
              },
            });
          });
        }

        $('.sort_chk').click(function () {
          let list = $('.chk_mark input');
          list.each(function (idx, t) {
            if ($(t).is(':checked')) {
              let pId = $(t).data('value');
              console.log('delete : ' + pId);
              $.ajax({
            	 beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                url: '/api/member/like/' + pId,
                method: 'post',
                success: function (data) {
                  console.log(data);
                  if (list.length == idx + 1) {
                    console.log('fin');
                    getWishList(1);
                  }
                },
              });
            }
          });
        });

        function showPaging(count) {
        	$('#pagination1').html('');
        	if(count == 0) {
        		return;
        	}
          let endNum = Math.ceil(pageNum / 10.0) * 10;
          let startNum = endNum - 9;

          let prev = startNum != 1;
          let next = false;

          if (endNum * 10 >= count) {
            endNum = Math.ceil(count / 10.0);
          }
          if (endNum * 10 < count) {
            next = true;
          }
          console.log(endNum+" "+next);
          let str = '';
          let prevDisable = '';
          if (!prev) {
            prevDisable = 'disabled';
          }
          str += `<a href="#" class="pre ${prevDisable}">이전</a>`;
          for (let i = startNum; i <= endNum; i++) {
            let isCur = '';

            if (pageNum == i) isCur = 'cur';
            let tmp = `<a href="${i}" class="${isCur}">${i}</a>`;

            str += tmp;
          }
          let nextDisable = '';
          if (!next) nextDisable = 'disabled';
          str += `<a href="#" class="nxt ${nextDisable}">다음</a>`;
		  $('#pagination1').html(str);
          
		  $('#pagination1 a').click(function(e){
			  e.preventDefault();
			  let num = $(this).attr('href');
			  window.scrollTo(0,0);
			  getWishList(num);
		  })
        }

        
      });
    </script>
  </body>
  <!-- This script is for AceCounter START -->
</html>
