<html lang="ko" class="back"  xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="wck/includes/head :: head_tag(title='나의주문내역상세 | 더한섬닷컴')"></th:block>

<body class="back">
<script type="text/javascript">
function cancelOrder(oid) {
    let token = $("meta[name='_csrf']").attr("content");
    let header = $("meta[name='_csrf_header']").attr("content");
    $.ajax({
      url: '/wck/mypage/cancelRequest/' + oid,
      beforeSend: function (xhr) {
        xhr.setRequestHeader(header, token);
      },
      method: 'post',
      success : function(result){
        if(result == "SUCCESS"){
      	  console.log('cancel order complete');
          location.href = '/wck/mypage/order';
        }
      },
      error : function(){
      }
    })
  }
</script>
  <!-- Loading -->
  <div style="display: none">
    <div id="loadingBarDiv" style="display: none"></div>
  </div>
  <!-- //Loading -->

  <div id="mapleMainPopwrap" style="
        position: fixed;
        top: 50%;
        left: 50%;
        width: 81.333333%;
        z-index: 805;
        transform: translate(-50%, -50%);
        display: none;
      "></div>

  <div class="layerArea" id="mapleLayer" style="display: none">
    <div class="layerBg"></div>
  </div>

  <!-- ################## hsome_allContents_wrapper ################## -->
  <div class="hsome_allContents_wrapper">
    <div class="hsome_allContents">

      <!-- ########## header start ########## -->
<th:block th:replace="wck/includes/header :: header_tag(title='주문상세조회')"></th:block>
      <!-- ########## header end ########## -->


      <!-- ########## contents start ########## -->
      <div id="contents" class="hsome_contents mp_order_view_wrap mp_order_view_goods_back_detail_wrap">
        <!-- 주문번호 s -->
        <div class="order_view_msg_wrap gray_box">
          <p class="ovm_num">
            주문번호<!-- 주문번호 -->
            : <b>230128P16572180</b>
          </p>
          <p class="ovm_date">
            (주문일시<!-- 주문일시 -->
            : 2023.01.28. 22:21)
          </p>
        </div>
        <!-- 주문번호 e -->

        <!-- 주문리스트 s -->
        <div class="">
          <!-- df_box s -->
          <div class="df_box mp_order_dlvr_list_wrap">
            <h3 class="df_box_tit">
              주문 및 취소/반품 내역<!-- 주문 및 취소/반품 내역 -->
            </h3>

            <ul class="mpord_goods_ul goods_list_wrap">
              <!-- 개 -->
              <li th:each="product : ${order.orderProducts}">
                <div class="mpord_goods_item gl_item">
                  <div class="gl_tit">
                    <a href="/ko/p/SH2C1ACK416M_GY_FR">
                      <img th:src="${product.pImg}" src="http://newmedia.thehandsome.com/SH/2C/SS/SH2C1ACK416M_GY_S01.jpg" class="gl_thumbimg"
                        alt="컬러 블록 양말" th:alt="${product.pName}" />
                    </a>
                  </div>

                  <ul class="gl_con">
                    <li class="gl_con_brand">
                      <a href="/ko/p/SH2C1ACK416M_GY_FR" th:text="${product.bName}">
                        SYSTEM HOMME</a>
                    </li>
                    <li class="gl_con_name">
                      <a href="/ko/p/SH2C1ACK416M_GY_FR" onclick="GA_Event('주문상세조회', '상세보기', '컬러 블록 양말');">컬러 블록 양말</a>
                    </li>
                    <li class="gl_con_option" th:text="${product.colorName} + ' / ' + ${product.quantity}+'개'" >GREY / FR / 1개</li>
                    <li class="gl_con_price" th:text="'￦'+${#numbers.formatInteger(product.pcPrice * product.quantity, 0, 'COMMA')}">￦6,000</li>
                    <li class="gl_con_status">
                      <span class="ord_status" th:text="${order.ostatus}" >결제완료</span>
                     <span th:text="'('+${order.odate}+')'">(2023.01.28)</span>
                      
                    </li>
                  </ul>
                  <div class="btn_wrap btn_wrap_div2" style="opacity: 1">
                    <a href="#"
                    	th:onclick='cancelOrder([[${order.oid}]]);'
                      class="btnCancel btnstl border_btn_gray layerpopupOpen">
                      <span>주문취소</span>
                    </a>
                  </div>
                  <!-- //버튼 -->
                </div>
              </li>

            </ul>
          </div>
          <!-- df_box e -->
        </div>
        <!-- 주문리스트 e -->
        <!-- df_box : 주문상세_배송지정보 s -->
        <div class="df_box mp_delivery_info_wrap">
          <h3 class="df_box_tit">배송지 정보<!-- 배송지정보 --></h3>
          <div class="dlvr_adrs">
            <span class="dlvr_adrs_name" th:text="${order.oreceiver}" >name</span> /
            <span class="dlvr_adrs_phone" th:text="${order.ophone}">010-0000-0000</span><br />
            (<span class="dlvr_adrs_zipcode" th:text="${order.ozipcode}">07285</span>)
            <span class="dlvr_adrs_adrs" th:text="${order.oaddress1}">addr1</span>
            <br>
            <span class="dlvr_adrs_adrs" th:text="${order.oaddress2}"> addr2</span>
          </div>

       </div>
        <!-- df_box : 주문상세_배송지정보 e -->

        <!-- df_box : 주문상세_배송 요청사항 s -->
        <!-- 211026 공동현관 출입방법 S -->
        <div class="df_box mp_delivery_info_wrap">
          <h3 class="df_box_tit">배송 요청사항<!-- 배송 요청사항 --></h3>
          <div class="dlvr_adrs" th:text="${order.omemo}">부재 시 경비실에 맡겨주세요</div>
        </div>
        <!-- 211026 공동현관 출입방법 E -->
        <!-- df_box : 주문상세_배송 요청사항 e -->

        <!-- df_box : 주문상세_결제정보 s -->
        <div class="df_box">
          <h3 class="df_box_tit">결제정보<!-- 결제정보 --></h3>
          <div class="payment_total_info">
          	<span th:text="${order.pmCompany}">토스머니&nbsp;</span><br>
            <span class="pay_total_price" th:text="'￦'+${#numbers.formatInteger(order.oafterPrice, 0, 'COMMA')}">￦8,500</span>
          </div>

          <ul class="total_price_detail mp_summary_detail">
            <li>
              <div class="ttpd_tit">판매가<!-- 판매가 --></div>
              <div class="ttpd_con" th:text="${order.obeforePrice-2500>30000}? 
              '￦'+${#numbers.formatInteger(order.obeforePrice, 0, 'COMMA')}:
              '￦'+${#numbers.formatInteger(order.obeforePrice-2500, 0, 'COMMA')}">￦6,000</div>
            </li>
            <li th:if="${order.eno != null}">
              <div class="ttpd_tit">쿠폰</div>
              <div class="ttpd_con" th:text="${order.discount>100}? 
              '￦'+${#numbers.formatInteger(order.discount, 0, 'COMMA')}
              :'￦'+${#numbers.formatInteger(order.obeforePrice * order.discount / 100, 0, 'COMMA')}">￦2,500</div>
            </li>
            <li th:if="${order.ousedMileage > 0}">
              <div class="ttpd_tit">사용 마일리지</div>
              <div class="ttpd_con" th:text="'￦'+${#numbers.formatInteger(order.ousedMileage, 0, 'COMMA')}">￦2,500</div>
            </li>
            <li>
              <div class="ttpd_tit">배송비<!-- 배송비 --></div>
              <div class="ttpd_con" th:text="${order.obeforePrice-2500>30000}? '￦0':'￦2,500'">￦2,500</div>
            </li>
            <li class="line">
              <div class="ttpd_tit">합계<!-- 합계 --></div>
              <div class="ttpd_con" th:text="'￦'+${#numbers.formatInteger(order.oafterPrice, 0, 'COMMA')}">￦8,500</div>
            </li>
            <li class="sub">
              <div class="ttpd_tit">
                적립마일리지
              </div>
              <div class="ttpd_con" th:text="${order.obeforePrice-2500>30000}? 
              ${#numbers.formatInteger(order.obeforePrice * 0.1, 0, 'COMMA')}:
              ${#numbers.formatInteger((order.obeforePrice-2500) * 0.1, 0, 'COMMA')}">60M</div>
            </li>
          </ul>
        </div>
        <!-- df_box : 주문상세_결제정보 e -->

        <!-- df_box : 주문상세_환불안내 s -->
        <div class="df_box refund_guide_wrap last_box">
          <div class="slide_border_box">
            <div class="sbb_tit">
              환불안내<!-- 환불안내 -->
              <div class="slide_border_box_icon">
                <div class="bar bar_vertical"></div>
                <div class="bar bar_horizontal plus"></div>
              </div>
            </div>
            <div class="sbb_slide_con">
              <ul class="ul_dot">
                <li>
                  쿠폰 적용된 상품의 취소/반품 시, 상품 가격에 따라 쿠폰
                  할인된 금액을 차감 후 환불됩니다.
                </li>
                <li>
                  기간 만료 시 환급되어도 사용 불가하며, 자세한 사항은
                  ‘마이페이지&gt;쿠폰’ 메뉴에서 확인하실 수 있습니다.
                </li>
                <li>
                  쿠폰 적용 여부에 따라서 취소/반품 신청하신 상품의 판매가보다
                  환불금액이 작을 수 있습니다.
                </li>
                <li>
                  특정 구매금액 이상일 때 적용되는 쿠폰의 경우 환불로 인해
                  구매금액이 감소할 때 쿠폰 적용이 취소될 수 있습니다.
                </li>
                <li>
                  반품 시 환불예상금액에서 반품배송비가 차감될 수 있습니다.
                </li>
                <li>
                  반품배송비는 한섬마일리지 &gt; e-money &gt;
                  주결제수단(신용카드 등) 순으로 차감됩니다.
                </li>
                <li>
                  반품배송비 결제를 [차감 후 환불]로 선택하신 경우는
                  환불예상금액에서 반품배송비가 차감됩니다.
                </li>
                <li>
                  환불 시 결제수단별 환불 순서는 다음과 같습니다.
                  <ul>
                    <li>1.주결제수단 환불</li>
                    <li>2.기프트카드 환급</li>
                    <li>3.한섬마일리지 환급</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="shippingcheck" style="display: none">
          <div class="popwrap w_type_1 shippingcheck_wrap">
            <div class="pop_cnt shippingcheck_popup">
              <h3 class="tlt">배송조회</h3>
              <table>
                <caption>
                  배송조회
                </caption>
                <thead>
                  <tr>
                    <th style="width: 47%">일시</th>
                    <th style="width: 53%">배송상태</th>
                  </tr>
                </thead>
                <tbody id="quickDeliveryInfoBody"></tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- df_box : 주문상세_환불안내 e -->

        <script>
          $(window).load(function () {
            function noticeRolling() {
              if (notiCnt > 1) {
                height = 20;
                num = notiCnt;
                max = height * num;
                move += height;

                //메인여부 체크(메인진입시 1개, 메인탭별 푸터 진입시 1개씩 추가)
                if ($('.notice-wrap').length > 1) {
                  $('#topNav1909 li').each(function (index) {
                    if ($(this).hasClass('on')) {
                      curTabId = index;
                    }
                  });
                  $('footer#footer' + curTabId + ' .notice-wrap').animate(
                    { top: -move },
                    600,
                    function () {
                      if (move >= max) {
                        $(this).css('top', 0);
                        move = 0;
                      }
                    }
                  );
                } else {
                  $('.notice-wrap').animate({ top: -move }, 600, function () {
                    if (move >= max) {
                      $(this).css('top', 0);
                      move = 0;
                    }
                  });
                }
              }
            }
            noticeRollingOff = setInterval(noticeRolling, 3000);

            //메인여부 체크(메인진입시 1개, 메인탭별 푸터 진입시 1개씩 추가)
            if ($('.notice-wrap').length > 1) {
              $('#topNav1909 li').each(function (index) {
                if ($(this).hasClass('on')) {
                  curTabId = index;
                }
              });
              $('footer#footer' + curTabId + ' .notice-wrap').append(
                $('footer#footer' + curTabId + ' .notice-wrap li')
                  .first()
                  .clone()
              );
            } else {
              $('.notice-wrap').append($('.notice-wrap li').first().clone());
            }
          });
        </script>
        <form id="autologinForm" name="autologinForm" action="/ko/hp/autologin" method="get">
          <input type="hidden" name="hcid" id="hcid" value="e2gaf@naver.com" />
        </form>


        <!-- ########## footer add ########## -->
        <footer th:replace="wck/includes/footer :: fragment-footer"></footer>

      </div>
      <!-- ########## contents end ########## -->

    </div>

    <!-- ################## top button­ ################## -->
    <a href="noLink();" class="hsome_topBtn upper" id="handsomeTopBtn">mobile.bottom.top</a>

    <!-- ################## hsome_quickMenu | 퀵메뉴 ################## -->
    <th:block th:replace="wck/includes/quick_menu"></th:block>
    <!-- ################## //hsome_quickMenu | 퀵메뉴 ################## -->

    <div class="fixed_dim_layer" onclick="familySiteSelectClosed();"></div>
    <!-- ################## hsome_quickMenu_contents | 퀵메뉴 컨텐츠 영역 ################## -->
    <div class="hsome_quickMenu_contents"></div>
    <!-- //################## hsome_quickMenu_contents | 퀵메뉴 컨텐츠 영역 ################## -->

    <div class="divpop_wrap_dev pop_mbr pop_alert_confirm" id="popAlertConfirmDiv"></div>

    <!-- layerpopupContent s -->
    <!-- hsome_layer_menu_contents | 레이어팝업메뉴 컨텐츠 영역 s -->
    <!-- depth1 s -->
    <div class="hsome_layerpop_contents lp_depth1 dir_h"></div>
    <!-- depth1 e -->
    <!-- depth2 s -->
    <div class="hsome_layerpop_contents lp_depth2"></div>
    <!-- depth2 e -->
    <!-- depth3 s -->
    <div class="hsome_layerpop_contents lp_depth3"></div>
    <!-- depth3 e -->
    <!-- depth4 s -->
    <div class="hsome_layerpop_contents lp_depth4"></div>
    <!-- depth4 e -->
    <!-- depth5 s -->
    <div class="hsome_layerpop_contents lp_depth5"></div>
    <!-- depth5 e -->
    <!-- depth6 s -->
    <div class="hsome_layerpop_contents lp_depth6"></div>
    <!-- depth6 e -->
    <!-- depth7 s -->
    <div class="hsome_layerpop_contents lp_depth7"></div>
    <!-- depth7 e -->
    <!-- depth8 s -->
    <div class="hsome_layerpop_contents lp_depth8"></div>
    <!-- depth8 e -->

    <!-- loading_layerpop s -->
    <!-- layerpop_wrap | 처리중 s -->
    <div class="layerpop_wrap loading_layer_wrap">
      <!-- layerpop_middle s -->
      <div class="lyrpp_mid">
        <div class="loading_box"></div>
      </div>
      <!-- layerpop_middle e -->
    </div>
    <!-- layerpop_wrap | 처리중 e -->

  </div>
  <script type="text/javascript" th:src="@{/js/quick_menu.js}" defer></script>
</body>

</html>