<!DOCTYPE html>
<html lang="en" 	  
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
    
    <th:block layout:fragment="content">
     <table class="table" style="width : 90%; margin:30px auto;">
  <thead>
    <tr>
    <th scope="col">#</th>
      <th scope="col">MID</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">LOGINTYPE</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
      <th scope="col">ENABLED</th>
      <th scope="col">GRADE</th>
      <th scope="col">MILEAGE</th>
      <th scope="col">ROLE</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="m : ${members}">
      <th th:data-id=${m.id} th:data-name="${m.name}" th:data-email="${m.email}"
      		th:data-enabled="${m.enabled}" th:data-mileage="${m.mileage}"
      		th:data-role="${m.role}" th:data-grade="${m.grade}"
       th:text="${mStat.index}" scope="row" data-toggle="modal" data-target=".bd-example-modal-lg"><a href='#'>1</a></th>
      <td th:text="${m.id}">123123</td>
      <td th:text="${m.name}">왕종휘</td>
      <td th:text="${m.email}">wangjh789@gmail.com</td>
      <td th:text="${m.loginType}">Email</td>
      <td th:text="${m.birth}">27</td>
     
	<th:block th:switch="${m.gender}">
		   <td th:case="1">남</td>
		   <td th:case="2">여</td>
		   <td th:case="-1">??</td>
	</th:block>
	
      <td th:text="${m.enabled}? 'O' : 'X'">O</td>
    <th:block th:switch="${m.grade}">
		   <td th:case="1">FRIEND</td>
		   <td th:case="2">MANIA</td>
		   <td th:case="3">STAR</td>
	</th:block>
      <td th:text="${m.mileage}">1000</td>
      <td th:text="${m.role}">USER</td>
    </tr>
  </tbody>
</table>
<div style="width:100%; display:flex; justify-content:center">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div>

<!-- https://getbootstrap.com/docs/4.1/components/modal/ -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <input type="hidden" id="idInput">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="myLargeModalLabel">회원정보 수정</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">EMAIL</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="emailInput" value="email@example.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">NAME</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="nameInput" value="email@example.com">
    </div>
  </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">GRADE</label>
    <select class="form-control" id="gradeSelect">
      <option value="1">FRIEND</option>
      <option value="2">MANIA</option>
      <option value="3">STAR</option>
    </select>
  </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">ENABLED</label>
    <select class="form-control" id="enabledSelect">
      <option value='true'>O</option>
      <option value='false'>X</option>
    </select>
  </div>
      <div class="form-group">
    <label for="exampleFormControlSelect1">ROLE</label>
    <select class="form-control" id="roleSelect">
      <option value="ROLE_USER">ROLE_USER</option>
      <option value="ROLE_ADMIN">ROLE_ADMIN</option>
    </select>
  </div>
  <div class="form-group" style="display:flex; justify-content: flex-end;">
  <button id="cancelBtn" type="button" class="btn btn-danger" style='margin-right : 10px'>CANCEL</button>
  <button id="saveBtn" type="button" class="btn btn-primary">SAVE</button>
  </div>
</form>

      </div>
    </div>
    </div>
  </div>
</div>

<script>
	$(document).ready(function(){
		$('#cancelBtn').click(function(e){
			$('.close').click();
		})
		
		$('th').click(function(e){
			$('#idInput').val($(this).data('id'))
			$('#emailInput').val($(this).data('email'));
			$('#nameInput').val($(this).data('name'));
			$('#gradeSelect').val($(this).data('grade'));
			$('#enabledSelect').val($(this).data('enabled')?'true':'false');
			$('#roleSelect').val($(this).data('role'));
		})
		
		$('#saveBtn').click(function(){
			let grade = $('#gradeSelect').val();
			let enabled = $('#enabledSelect').val();
			let role = $('#roleSelect').val();
			let id = $('#idInput').val();
			console.log(grade, enabled, role)
			
			$.ajax({
				beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
              	},
				url:"/api/admin/member/update",
				data: JSON.stringify({
					id : id,
					grade : grade,
					enabled : enabled,
					role : role
				}),
				method : 'POST',
				contentType: 'application/json; charset=utf-8',
				success : function(data){
					alert(data);
					location.reload();
				}
			})
		})
		
		
		
		
	})
</script>
</th:block>
</html>
