<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="wck/includes/head :: head_tag(title='더한섬닷컴')"></th:block>
<script type="text/javascript" th:src="@{/js/layers.js}"></script>

  <body class="back">
    <div class="hsome_allContents_wrapper">
      <div class="hsome_allContents">
        <script type="text/javascript">
          function goMainpage() {
            window.sessionStorage.removeItem('moveYn');
            location.href = '/ko/main';
          }
        </script>

        <!-- ################## header ################## -->
        <header class="hsome_header">
          <h1 class="h_ttl ellipsis" id="headerTitle">이벤트상세보기</h1>
          <a href="javascript:noLink();" onclick="goBack();" class="h_prev"
            >이전 페이지로 가기</a
          >
          <ul class="h_gnbMenu">
            <li class="search">
              <a
                href="/ko/mobilecommon/search"
                onclick="GA_Event('공통', '헤더', '검색');"
                ><span>search</span></a
              >
            </li>
            <li class="cart">
              <a
                href="/ko/shoppingbag"
                onclick="GA_Event('공통', '헤더', '쇼핑백');"
                ><span>cart</span><i>0</i></a
              >
            </li>
          </ul>
        </header>
        <!-- //################## header ################## -->
        <style>
          .newBrands_evt.hs_event_viewThumb {
            position: relative;
          }
          .newBrands_evt_con {
            position: relative;
            margin-bottom: 21px;
          }
          .newBrands_evt_con a {
            position: absolute;
            text-indent: -9999px;
            width: 44.7%;
            height: 3.9%;
            top: 91.6%;
          }
          .newBrands_evt .share_wrap {
            display: block;
            width: 30.15%;
            height: 4.5%;
            top: 52.3%;
            left: 11%;
            overflow: hidden;
            position: absolute;
          }
          .newBrands_evt .share_wrap a {
            display: block;
            width: 33%;
            height: 49.9%;
            float: left;
          }
          .shopnow_clubmonaco {
            left: 4.2%;
          }
          .shopnow_obzee {
            right: 4.2%;
          }
          .notice_open {
            width: 100%;
            height: 2.2%;
            position: absolute;
            top: 97%;
            text-indent: -9999px;
          }
          .notice_open.on {
            top: 97%;
          }
          .notice_txt {
            display: none;
          }
        </style>

        
        <!-- ################## contents ################## -->
        <div class="hsome_contents">
          <div class="hs_special_viewTitle">
            <h2 th:text="${event.title}">신규회원님을 위한 특별 혜택</h2>
            <div class="date" th:text="${event.issueDate}+' ~ '+${event.expireDate}">2022.11.01 ~ 2023.12.31</div>
            <div class="right_btns">
              <a href="/wck/event" class="list"><i>목록</i></a>
              <a
                href=".hs_share_pop"
                onclick="javascript:initShareData('/ko/magazine/events/','8802941687680', 'http://cdn.thehandsome.com/mobile/event/list/banner/20221213_57502766557262152_ko.jpg','[이벤트] 신규회원님을 위한 특별 혜택','신규회원님을 위한 특별 혜택')"
                class="share btn_popup_btot"
                >공유</a
              >
            </div>
          </div>
          <div class="evt_info">
            <div class="hs_event_viewThumb newBrands_evt">
              <!-- 1 -->
              <p>
                <script th:inline="javascript">
                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");
              
                  $(document).ready(function () {
                	  isJoined();
                	  
                	  /*<![CDATA[*/
                	  function isJoined(){
                		  let eno = /*[[${event.no}]]*/
                		  $.ajax({
                			  url: "/api/event/"+eno+"/check",
                			  method : 'get',
                			  success : function(result){
                				  if(result){
                					  $('#coupon_btn').attr("disabled",true);
                					  $('#coupon_btn').text("이미 발급받은 쿠폰 입니다.")
                				  }
                			  }
                		  })
                		  
                	  }
                	  /*]]>*/
                	  
                	  /*<![CDATA[*/
                    $('#coupon_btn').click(function(e){
                    	let eno = /*[[${event.no}]]*/
                    	console.log('click btn');
                    	$.ajax({
                    		beforeSend : function(xhr) {
                                xhr.setRequestHeader(header, token);
                          },
              			  url: "/api/event/"+eno+"/coupon",
              			  method : 'post',
              			  success : function(result){
              				  if(result == "SUCCESS"){
              					  var la = new layerAlert('쿠폰이 발급되었습니다.');
              					  console.log('coupon issue success')
              					  isJoined();
              				  }
              			  },
              			  error : function(e){
              				  var la = new layerAlert("에러가 발생했습니다.");
              			  }
              			  
              		  })
                    	
                    })
                    /*]]>*/
                  });
                  
                </script>
              </p>
              <div class="evt-mob-newmember">
                <div>
                  <img
                    style="display: block; width: 100%"
                    th:src="${event.content}"
                    src="http://cdn.thehandsome.com/mobile/event/detail/image/handsome_202212/event_newmember_dec_mob_img_01.jpg"
                    alt="" />
                  <img
                    style="display: block; width: 100%"
                    th:src="${event.detailImg}"
                    src="http://cdn.thehandsome.com/mobile/event/detail/image/handsome_202212/event_newmember_dec_mob_img_02.jpg"
                    alt="" />
                </div>
                <div style="text-align:center">
                	<button id="coupon_btn" style="padding: 10px 10px; font-weight:bold; font: 20px;">쿠폰발급받기</button>
                </div>
              </div>
              <!-- //1 -->
            </div>

            <!-- reply_wrap -->
            <!-- //reply_wrap -->
          </div>
        </div>
        <!-- //hsome_contents -->
        <!-- 	<input type="hidden" id="shareKey" name="shareKey"> -->
        <!-- 	<input type="hidden" id="shareImgUrl" name="shareImgUrl"> -->
        <!-- 	<input type="hidden" id="shareText" name="shareText"> -->
        <!-- //################## contents ################## -->

        <script
          type="text/javascript"
          src="//static.addtoany.com/menu/page.js"></script>
        <div class="hs_pro_view_layer"></div>
        <!-- 팝업 배경 레이어 -->

        <!-- ################## footer ################## -->
        <!-- 푸터 공지 추가 220404 -->
        <footer th:replace="wck/includes/footer :: fragment-footer"></footer>
        <!-- // 푸터 공지 추가 220404 -->
        <!-- //################## footer ################## -->
      </div>
    </div>
    <!-- ################## //hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
    <a href="noLink();" class="hsome_topBtn upper" id="handsomeTopBtn"
      >mobile.bottom.top</a
    ><!-- 20180530 추가 -->

    <!-- ################## hsome_quickMenu | 퀵메뉴 ################## -->
    <aside class="hsome_quickMenu hsome_quickMenu1909 active">
      <ul>
        <li class="shop">
          <a
            href="/ko/mobilecommon/navShop"
            onclick="GA_Event('공통', '네비게이션_바', '샵');"
            ><i>메뉴</i></a
          >
        </li>
        <li class="sns">
          <a
            href="/ko/sns/main"
            onclick="GA_Event('공통', '네비게이션_바', '타임라인');"
            ><i>스타일 LIVE</i></a
          >
        </li>
        <li class="home">
          <a
            href="javascript:noLink();"
            onclick="goMainpage();GA_Event('공통', '네비게이션_바', '홈');"
            ><i>홈</i></a
          >
        </li>
        <li class="myheart" id="gnbMyheartBtn">
          <a
            href="/ko/mypage/myWish"
            onclick="GA_Event('공통', '네비게이션_바', '마이하트');"
            ><i>마이하트</i></a
          >
        </li>
        <li class="mypage" id="gnbMyPageBtn">
          <a
            href="javascript:noLink();"
            onclick="goMypage();GA_Event('공통', '네비게이션_바', '마이페이지');"
            ><i>마이페이지</i></a
          >
        </li>
        <li class="mypage pageMove" style="display: none">
          <a href="/ko/member/login" id="gnbMypageBtn"></a>
        </li>
        <li class="mypage" style="display: none">
          <a href="/ko/mobilecommon/myPagePopup" id="gnbMypagePopupBtn"></a>
        </li>
      </ul>
    </aside>
    <!-- ################## //hsome_quickMenu | 퀵메뉴 ################## -->

    <div class="fixed_dim_layer" onclick="familySiteSelectClosed();"></div>
    <div class="family_site_popup_191108">
      <ul>
        <li>
          <a
            href="http://m.hfashionmall.com/sfmmbl/mbl/main.do"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_H패션몰');"
            >H패션몰<!-- H패션몰 --></a
          >
        </li>
        <li>
          <a
            href="https://m.hyundaihmall.com/front/index.do"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_현대홈쇼핑');"
            >현대홈쇼핑<!-- (주)현대홈쇼핑 --></a
          >
        </li>
        <li>
          <a
            href="https://m.thehyundai.com/Home.html"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_더현대닷컴');"
            >더현대닷컴<!-- 더현대닷컴 --></a
          >
        </li>
        <li>
          <a
            href="http://mall.hyundailivart.co.kr/front/index_org.lv"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_현대리바트');"
            >현대리바트<!-- (주)현대 리바트 --></a
          >
        </li>
        <li>
          <a
            href="https://www.h-point.co.kr/cu/main/index.nhd"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_H.Point');"
            >H.Point</a
          >
        </li>
        <li>
          <a
            href="http://www.ehyundai.com/newPortal/ir/main.do"
            target="_blank"
            onclick="GA_Event('공통', '푸터_CNT', 'FAMILYSITE_현대백화점그룹');"
            >현대백화점그룹<!-- 현대백화점 그룹 --></a
          >
        </li>
      </ul>
      <a
        href="#;"
        class="family_site_popup_close"
        onclick="familySiteSelectClosed();"
        >닫기<!-- 닫기 --></a
      >
    </div>
    <!-- ################## hsome_quickMenu_contents | 퀵메뉴 컨텐츠 영역 ################## -->
    <div class="hsome_quickMenu_contents"></div>
    <!-- //################## hsome_quickMenu_contents | 퀵메뉴 컨텐츠 영역 ################## -->


    <div
      class="divpop_wrap_dev pop_mbr pop_alert_confirm"
      id="popAlertConfirmDiv"></div>
  </body>
</html>
