<html lang="ko" class="back" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="wck/includes/head :: head_tag(title='더한섬닷컴')"></th:block>

<script type="text/javascript">
      var handsomePageId = 'eventPage';
      var main_bul = false;
    </script>

<script type="text/javascript">
      var handsomeUserLoginYn = 'N';
    </script>
<script type="text/javascript">
      var isoKoYn = 'Y';
    </script>
<script type="text/javascript">
      var handsomeIsoCode = 'ko';
      var handsomeContextPath = '/ko';
</script>

<body class="back">
	<div class="layerArea" id="mapleLayer" style="display: none">
		<div class="layerBg"></div>
	</div>

	<!-- ################## hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
	<div class="hsome_allContents_wrapper">
		<div class="hsome_allContents">
			<th:block th:replace="wck/includes/header :: header_tag(title='이벤트')"></th:block>
			<!-- //################## header ################## -->

			<!-- ################## contents ################## -->
			<div class="hsome_contents">
				<ul class="ui_tab hs_red_border_tab size02 active">
					<li class="on"><a href="#event_list01" id="eventNow">진행중인
							이벤트</a></li>
					<!-- 진행중인 이벤트 -->
					<li class=""><a href="#event_list02" id="eventPast">지난 이벤트</a>
					</li>
					<!-- 지난 이벤트 -->
					<li class="fcs" style="transform: translateX(0px)"></li>
				</ul>
				<div class="tab_cont">
					<div class="cont on" id="event_list01">
						<div class="hs_event_list_wrap">
							<ul class="hs_event_list" id="eventList">
								<!-- eventList -->
							</ul>
							<div id="moreBtn">
								<a class="hs_white_comm_btn full mt45">더보기</a>
							</div>
						</div>
					</div>
					<div class="cont" id="event_list02">
						<div class="hs_event_list_wrap">
							<ul class="hs_event_list" id="eventListPast">
								<!-- eventList -->
							</ul>
							<div id="moreBtnPast">
								<a class="hs_white_comm_btn full mt45">더보기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- //################## contents ################## -->

		<!-- ################## footer ################## -->
		<!-- 푸터 공지 추가 220404 -->
		<footer th:replace="wck/includes/footer :: fragment-footer"></footer>
		<!-- // 푸터 공지 추가 220404 -->
		<!-- //################## footer ################## -->
	</div>

	<!-- ################## //hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
	<a href="noLink();" class="hsome_topBtn upper" id="handsomeTopBtn">mobile.bottom.top</a>

	<!-- ################## hsome_quickMenu | 퀵메뉴 ################## -->
	<aside class="hsome_quickMenu hsome_quickMenu1909 active">
		<ul>
			<li class="shop"><a href="/ko/mobilecommon/navShop"><i>메뉴</i></a>
			</li>
			<li class="sns"><a href="/ko/sns/main"
				><i>스타일
						LIVE</i></a></li>
			<li class="home"><a href="javascript:noLink();"
				><i>홈</i></a>
			</li>
			<li class="myheart" id="gnbMyheartBtn"><a
				href="/ko/mypage/myWish"
				><i>마이하트</i></a>
			</li>
			<li class="mypage" id="gnbMyPageBtn"><a
				href="javascript:noLink();"
				><i>마이페이지</i></a>
			</li>
			<li class="mypage pageMove" style="display: none"><a
				href="/ko/member/login" id="gnbMypageBtn"></a></li>
			<li class="mypage" style="display: none"><a
				href="/ko/mobilecommon/myPagePopup" id="gnbMypagePopupBtn"></a></li>
		</ul>
	</aside>
	<!-- ################## //hsome_quickMenu | 퀵메뉴 ################## -->
	<div class="hsome_quickMenu_contents"></div>
	<!-- ################## hsome_quickMenu_contents | 퀵메뉴 컨텐츠 영역 ################## -->

	<script type="text/javascript">
      $(document).ready(function () {
    	let currentPage = 1;
    	let currentPastPage = 1;
        if (false) {
          $('#cateTab').click();
        }
        let eventListUl = $('#eventList');
        let eventListPastUl = $('#eventListPast')
        
        loadEvent(currentPage,false ,printList);
        loadEvent(currentPastPage, true, printList);
        currentPage++;
        
        let moreBtn = $('#moreBtn');
        let moreBtnPast = $('#moreBtnPast');
        
        moreBtn.click(function(e){
        	loadEvent(currentPage, false, printList);
            currentPage++;
        });
        
        moreBtnPast.click(function(e){
        	loadEvent(currentPastPage, true, printList);
        	currentPastPage++;
        })
        
        function loadEvent(page, isPast, callback){
      	  $.ajax({
      		  url : "/api/event/list?pageSize=5&currentPage="+page+"&past="+isPast,
      		  method : 'GET',
      		  dataType : "json"
      	  })
      	  .done(function(data){
      		  console.log(data);
      		  if(callback) callback(isPast,data);
      	  })
        }
        
        function printList(isPast,data){
      	  let str = '';
      	  data.forEach(function(d){
          	  let template = 
          		  `            
          		 <li class="lists" role="event_box">
                    <a
                    href="/wck/event/${d.no}">
                    <div class="event_img">
                      <img
                        src="${d.img}"
                        alt="${d.title}" />
                    </div>
                    <div class="event_cont">
                      <p class="title">
                        ${d.title}
                      </p>
                      <p class="data">${d.issueDate} ~ ${d.expireDate}</p>
                    </div>
                  </a>
                </li>
                `;
                if(!isPast){
                	eventListUl.append(template);	
                }else{
                	eventListPastUl.append(template);
                }
                
      	  })
      	  if(data.length < 5){
      		  if(!isPast) moreBtn.css('display','none');
      		  else moreBtnPast.css('display','none');
      	  }
        }
        
        
      });
      
      

      function closeAction() {
        $('.twoDepthNavPopup').hide();
        $('.one_lists.on').toggleClass('on');
      }
    </script>
  <script type="text/javascript" th:src="@{/js/quick_menu.js}" defer></script>
    
</body>
<!-- AceCounter Log Gathering Script V.7.5.2013010701 -->
</html>
