<html xmlns:th="http://www.thymeleaf.org">
<!-- ########## footer start ########## -->

<footer th:fragment="fragment-footer" id="footer" class="hsome_footer new181127 footer_kr">
    <div class="main-notice">
        <div class="tit-notice">공지</div>
        <div class="list-notice">
            <ul class="notice-wrap" style="top: -20px">
                <li>
                    <a href="#">[당첨자 발표] 2023 신년 기프트 향수 이벤트 당첨자 발표</a>
                </li>
                <li>
                    <a href="#">[당첨자 발표] 1월 뷰티 릴레이 체험단 당첨</a>
                </li>
                <li>
                    <a href="#">[당첨자 발표] 핸썸TV 더한섬닷컴 설선물 라이브 방송(1/17)
                        사은품 및 스페셜 마일리지 당첨자 발표</a>
                </li>
                <li>
                    <a href="#">결제완료(주문완료) 페이지 오류 안내</a>
                </li>
                <li>
                    <a href="#">[당첨자 발표] 2023 신년 기프트 향수 이벤트 당첨자 발표</a>
                </li>
            </ul>
        </div>
        <div class="btn-more">
            <img src="http://cdn.thehandsome.com/_ui/handsomemobile/images/main/btn_arr_notice.png" alt="" />
        </div>
    </div>
    <div class="f_wrap">
        <div class="f_menu re1911">
            <ul class="top_line">
                <li><a href="#"></a></li>
                <li>
                    <a href="javascript:ftLogout();" class="login" style="float: left" onclick="">로그아웃<!-- 로그아웃 --></a>
                </li>
                <li>
                    <a href="#" class="customer" style="float: left; width: 32%">고객센터<!--고객센터--></a>
                </li>
                <li>
                    <a href="#" class="storeinfo" style="float: left">매장안내</a>
                </li>
            </ul>
            <ul class="btm_line1911">
                <li>
                    <a href="#" class="memberBenefit" style="float: left; letter-spacing: -1px">한섬 회원
                        혜택<!-- 한섬 회원 혜택 --></a>
                </li>
                <li>
                    <a href="http://www.handsome.co.kr/ko/company/aboutHandsome.do?leng=ko" target="_blank"
                        style="float: left; letter-spacing: -1px">회사소개</a>
                </li>
                <li id="family_site">
                    <span class="language family_site1911 for_iph_css1911">FAMILY SITE&nbsp;</span>
                </li>
            </ul>
        </div>

        <div class="f_sns">
            <a href="#" class="ist">인스타그램</a>
            <a href="#" class="ytb">유튜브</a>
        </div>
        <div class="f_policy">
            <a href="#">서비스이용약관</a>
            <a href="#" style="font-weight: bold">개인정보처리방침</a>

            <!-- web -->
            <span class="language">
                <select id="footerSelectLang">
                    <option value="" selected="selected" disabled="" hidden="">
                        LANGUAGE
                    </option>
                    <option value="ko">한국어</option>
                    <option value="en">ENGLISH</option>
                    <option value="zh">中文</option>
                </select>
            </span>
        </div>

        <div class="f_copyright">
            COPYRIGHT © 2018 HANDSOME. ALL RIGHT RESERVED
        </div>

        <a href="javascript:noLink();" class="f_info_viewer" onclick="footerCntInfo();">
            <span class="f-txt">(주) 한섬 </span>
            <span class="f-logo"><img
                    src="http://cdn.thehandsome.com/_ui/handsomemobile/images/common/mob-footer-handsome-logo.png"
                    alt="" /></span>
        </a>

        <div class="f_info">
            <div class="corp">
                대표이사 : 김민덕 | 서울시 강남구 도산대로 523 한섬빌딩<br />TEL
                : 1800-5700 (유료) | FAX : 02-6078-2856 <br />개인정보보호책임자
                : 윤인수 | 호스팅서비스 : (주) 한섬<br />사업자등록번호 :
                120-81-26337<br />통신판매업신고번호 : 제 2009-서울강남-00826호
            </div>
            <div class="link">
                <a href="https://recruit.ehyundai.com/recruit-info/announcement/list.nhd?pageNo=1&amp;hireGb=01&amp;coCd=HDHAN"
                    target="_blank">채용정보</a>
                <a href="http://www.handsome.co.kr/ko/sustainability/sharedGrowth01.do" target="_blank">동반성장</a>
                <a href="#" target="_blank">환경경영</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function footerCntInfo() {
          const f_info = document.getElementsByClassName("f_info")[0];
          const style = getComputedStyle(f_info);
          const display = style.display;
      
          if(display === 'none'){
            $(".f_info").prop("style", "display:block");
            $(".f_info_viewer").prop("class", "f_info_viewer active");
          } else {
            $(".f_info").prop("style", "display:none");
            $(".f_info_viewer").prop("class", "f_info_viewer");
          }
        };
      
      </script>
</footer>
<!-- ########## footer end ########## -->


</html>