<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ########## header start ########## -->
<header th:fragment="header_tag(title)" class="hsome_header">
  <h1 class="h_ttl ellipsis" id="headerTitle">[[${title}]]</h1>
    <a href="/wck" class="h_top_home"><span>홈</span></a>
    <a href="#" onclick="goBack();" class="h_prev">이전 페이지로 가기</a>
    <ul class="h_gnbMenu">
      <li class="search">
        <a href="/wck/search" onclick=""><span>search</span></a>
      </li>
      <li class="cart">
        <a href="/wck/shoppingbag/"><span>cart</span>
         	<i sec:authorize="isAuthenticated()" sec:authentication="principal.cartCount" >1</i>
            <i sec:authorize="isAnonymous()">0</i>
        </a>
      </li>
    </ul>
  </header>
<!-- ########## header end ########## -->

</html>
