
<ul class="gl_edit">
  
  <li>
  
  
    <div class="gl_tit">색상</div>
    <ul class="gl_con btn_color_wrap"> <!-- function setColorRadio 참조 -->
      <li th:each="color, i : ${cartColorList}">
         <th:block th:if="${cart.pid == color.pid}">
         <th:block th:if="${cart.pcolor == color.ccolorcode}">

          <input type="radio" checked="checked" th:id="${color.ccolorcode}+${cart.pid}" class="d" th:value="${color.ccolorcode}" th:name="'name'+${cart.pid}" 
          >
        <label for="gl_rd_color_01_01" th:onclick="setOption(this, [[${cart.pid}]],[[${color.ccolorcode}]])"></label>
                <span class="gl_color_val"   th:style="'background: url('+${color.colorimage}+') center /100% auto no-repeat'"></span>
         </th:block>
           <th:block th:unless="${cart.pcolor == color.ccolorcode}">
              <input type="radio"  class="d" th:id="${color.ccolorcode}+${cart.pid}" th:value="${color.ccolorcode}" th:name="'name'+${cart.pid}">
                <label for="gl_rd_color_01_01" th:onclick="setOption(this, [[${cart.pid}]],[[${color.ccolorcode}]])"></label>
                <span class="gl_color_val"  th:style="'background: url('+${color.colorimage}+') center /100% auto no-repeat'"></span>
           
           </th:block>
                </th:block>
              </li>
      </ul>
    <div class="gl_con selected_color_txt">
      <span th:class="${cart.pid}+'sct_v'" th:text="${cart.pcolor}"></span>
    </div>
  </li>
  <li>
    <div class="gl_tit">사이즈</div>
    <div class="gl_con">
 
                
                <select th:id="${cart.pid}+'sizelist'" class="sod_select" >
                 <th:block th:each="size : ${cartSizeList}">
                 <th:block th:if="${cart.pid == size.pid and cart.pcolor == size.ccolorcode}">
 
 <th:block th:if="${size.ssize == cart.psize}">
                 <option    th:text="${size.ssize}" selected></option>
              </th:block>
              <th:block th:unless="${size.ssize == cart.psize}">
                 <option    th:text="${size.ssize}" ></option>
           
              </th:block>
  </th:block>
  </th:block>
</select>
       <script>
       $("select[name=lo]").change(function(){
          
           console.log($("select[name=lo] option:selected").text()); //text값 가져오기
         });
       
       </script>
    </div>
  </li>
  <li>
    <div class="gl_tit">수량</div>
    <div class="gl_con">
    <div class="gl_count_edit">
      <a th:onclick="'quantityMinus(this,'+${i.index}+');'" class="btn_minus"><span>감소</span></a>
      <div class="gl_count_num"><input type="text" title="수량" readonly="" th:value="${cart.pamount}" class="mr0" th:id="'quantity_'+${i.index}" th:name="'quantity_'+${i.index}" path="quantity"></div>
        <a th:onclick="'quantityPlus(this,'+${i.index}+');'" class="btn_plus"><span>증가</span></a>
    </div>
    </div>
  </li>
</ul>
