$(document).ready(function () {

  let beforePrice = 0;

  [# th: each = "prod, i : ${prods}"]
  console.log([[${ prod }]]);
  beforePrice += ([[${ prod.pcPrice * prod.quantity }]]);
  [/]

  console.log('금액 합계 : ' + beforePrice);

  // if (beforePrice > 30000) {
  //   $("#ttpd_con3").html('₩ 0');
  // } else {
  //   $("#ttpd_con3").html('₩ 2,500');
  // }
  // $("input[name='beforeprice']").val(beforePrice);
  // beforePrice = beforePrice.toLocaleString('ko-KR');
  // $("#ttpd_con1").html(`₩ ${beforePrice}`);

  // $("input:checkbox").on('click', function () {
  //   let mileage = $("#wck_mileage").val();
  //   console.log("M : " + mileage);

  // })
});