<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="wck/includes/head :: head_tag(title='아이디/비밀번호찾기 | 더한섬닷컴')"></th:block>
  <body class="">
  	<script type="text/javascript">
  		$(document).ready(function(e){
  			$('.btn_login').click(function(){
  				location.href="/wck/login";
  			})
  			
  			$('#findId').click(function(){
  				location.href="/wck/member/findIdPw?tab=1";
  			})
  			
  		})
  	</script>
  
    <div class="hsome_allContents_wrapper">
      <div class="hsome_allContents">
         <!-- ################## header ################## -->
        <th:block th:replace="wck/includes/header :: header_tag(title='아이디/비밀번호 찾기')"></th:block>
        <!-- //################## header ################## -->

        <!-- contents s -->
        <div class="hsome_contents simplemember_wrap">
          <ul class="grey_bg_header_tab">
            <li class="" id="h1">
              <a href="/wck/login" class="tab_li_hs_mem"><span>로그인</span></a>
            </li>
            <li id="e1">
              <a href="/wck/join" class="tab_li_simple_mem"
                ><span>회원가입</span></a
              >
            </li>
          </ul>
          <!-- 한성회원 시작 -->
          <div
            id="tabIdPw"
            class="mem_ct_wrap simple_mbr_wrap idpw_find_result">
            <!-- <div class="mem_ct_wrap simple_mbr_wrap idpw_find_result"> -->

            <ul class="ui_tab red_border_tab active">
              <li class="" id="findId"><a href="#tab_01">아이디 찾기</a></li>
              <li id="findPw" class="on">
                <a href="#tab_02">비밀번호 찾기</a>
              </li>
              <li class="fcs" style="transform: translateX(158.078px)"></li>
            </ul>

            <div class="tab_cont" id="easyM" style="">
              <!-- tab_02 비밀번호 찾기 s -->
              <div class="cont on" id="tab_02" style="display: block">
                <!-- Start: easyPw finding result -->
                <div id="easyPwComplete" style="">
                  <div class="txt_wrap result pw">
                  <p th:if="${!isExist }">조회된 ID가 없습니다.</p>
                    <p th:if="${isExist}">
                      회원정보에 등록된 이메일주소로<br />임시비밀번호가
                      발송되었습니다.<!-- 회원정보에 등록된 이메일주소로<br>임시비밀번호가 발송되었습니다. -->
                    </p>
                  </div>
                  <div class="btn_wrap">
                    <button
                      class="btn btn_bg_b btn_login">
                      로그인
                    </button>
                  </div>
                </div>
                <!-- End: easyPw finding result -->
              </div>
            </div>
          </div>
          <!-- 한성회원 종료 -->
        </div>
        <!-- //################## contents ################## -->
      </div>
    </div>
  </body>
</html>
